extends apartmentMenu
block head
	title='Danh sách đóng tiền'
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="content-type", content="text/html; charset=UTF-8")
	link(rel='stylesheet', href='/css/bootstrap-3.3.7-dist/css/bootstrap.css')
	link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
	link(rel='stylesheet', href='/css/left-menu.css')
	link(rel='stylesheet', href='/css/style_custom.css')
	link(rel='stylesheet', href='/css/detail.css')
			
	script(type='text/javascript', src='/js/jquery.min.js')
	script(type='text/javascript', src='/js/bootstrap.js')		
	script(type='text/javascript', src='/js/jquery.dataTables.js')
	script(type='text/javascript', src='/js/navigate.js')

block content
	div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
		if(apartments == null || apartments.length == 0)
			p
				| Chưa có dữ liệu phòng trọ tháng này. 				
		else
			if (old_apartments != null)
				h3.h3-title Danh sách đóng tiền tháng 11
				table#apartment-grid.table.table-bordered
					thead
						tr
							th Phòng số
							th Số người
							th Tên người						
							th Tiền phòng						
							th Số điện tháng trước
							th Số điện tháng này
							th Tiền điện
							th Số nước tháng trước
							th Số nước tháng này
							th Tiền nước
							th Tiền vệ sinh
							th Chi phí khác				
							th Tổng
							th Trạng thái
							th Ngày đóng
							th Actions							
							
					tbody
						each old_apartment, index in old_apartments
							if old_apartment.status == "0"
								tr(data-id="#{old_apartments._id}").tr_warning
									td= old_apartment.apartmentId
									td= old_apartment.person_no
									td= old_apartment.person_names
									td= old_apartment.room_fee
									td= old_apartment.p_electric_no
									td= old_apartment.c_electric_no
									td= old_apartment.total_electric
									td= old_apartment.p_water_no
									td= old_apartment.c_water_no
									td= old_apartment.total_water
									td= old_apartment.clean_fee
									td= old_apartment.other_fee
									td= old_apartment.total_fee
									td= old_apartment.status == "1" ? "Đã đóng" : "Chưa đóng"
									td= old_apartment.pay_date
									td.action
										button.btn.btn-default(id="edit_#{old_apartment.apartmentId}_apartments", type="button")
											span.glyphicon.glyphicon-pencil Sửa										
							else
								tr(data-id="#{old_apartments._id}").tr_close
									td= old_apartment.apartmentId
									td= old_apartment.person_no
									td= old_apartment.person_names
									td= old_apartment.room_fee
									td= old_apartment.p_electric_no
									td= old_apartment.c_electric_no
									td= old_apartment.total_electric
									td= old_apartment.p_water_no
									td= old_apartment.c_water_no
									td= old_apartment.total_water
									td= old_apartment.clean_fee
									td= old_apartment.other_fee
									td= old_apartment.total_fee
									td= old_apartment.status == "1" ? "Đã đóng" : "Chưa đóng"
									td= old_apartment.pay_date
									td.action
										button.btn.btn-default(id="edit_#{old_apartment.apartmentId}_apartments", type="button")
											span.glyphicon.glyphicon-pencil Sửa	
			h3.h3-title Danh sách đóng tiền tháng 12
			table#apartment-grid.table.table-bordered
				thead
					tr
						th Phòng số
						th Số người
						th Tên người						
						th Tiền phòng						
						th Số điện tháng trước
						th Số điện tháng này
						th Tiền điện
						th Số nước tháng trước
						th Số nước tháng này
						th Tiền nước
						th Tiền vệ sinh
						th Chi phí khác				
						th Tổng
						th Trạng thái
						th Ngày đóng
						th Actions							
						
				tbody
					each apartment, index in apartments
						if apartment.status == "0"
							tr(data-id="#{apartment._id}").tr_warning
								td= apartment.apartmentId
								td= apartment.person_no
								td= apartment.person_names
								td= apartment.room_fee
								td= apartment.p_electric_no
								td= apartment.c_electric_no
								td= apartment.total_electric
								td= apartment.p_water_no
								td= apartment.c_water_no
								td= apartment.total_water
								td= apartment.clean_fee
								td= apartment.other_fee
								td= apartment.total_fee
								td= apartment.status == "1" ? "Đã đóng" : "Chưa đóng"
								td= apartment.pay_date
								td.action
									button.btn.btn-default(id="edit_#{apartment.apartmentId}_apartments", type="button")
										span.glyphicon.glyphicon-pencil Sửa										
						else
							tr(data-id="#{apartment._id}").tr_close
								td= apartment.apartmentId
								td= apartment.person_no
								td= apartment.person_names
								td= apartment.room_fee
								td= apartment.p_electric_no
								td= apartment.c_electric_no
								td= apartment.total_electric
								td= apartment.p_water_no
								td= apartment.c_water_no
								td= apartment.total_water
								td= apartment.clean_fee
								td= apartment.other_fee
								td= apartment.total_fee
								td= apartment.status == "1" ? "Đã đóng" : "Chưa đóng"
								td= apartment.pay_date
								td.action
									button.btn.btn-default(id="edit_#{apartment.apartmentId}_apartments", type="button")
										span.glyphicon.glyphicon-pencil Sửa							