extends leftMenu
block head
	title='Baby'
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="content-type", content="text/html; charset=UTF-8")
	link(rel='stylesheet', href='/css/bootstrap-3.3.7-dist/css/bootstrap.css')
	
	link(rel='stylesheet', href='/css/camera.css')
	link(rel='stylesheet', href='/css/style_custom.css')
	link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')		
	link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css')
	link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.bootstrap.min.css')		
	link(rel='stylesheet', href='/css/detail.css')
	link(rel='stylesheet', href='/css/left-menu.css')
	link(rel='stylesheet', href='/css/bootstrap-select.min.css')
	
	script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.4.js')
	script(type='text/javascript', src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
	script(type='text/javascript', src='/css/bootstrap-3.3.7-dist/js/bootstrap.js')
	script(type='text/javascript', src='/js/bootstrap-select.min.js')
	script(type='text/javascript', src='/js/tab.js')
	script(type='text/javascript', src='/js/controls.js')
	script(type='text/javascript', src='//cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js')
	script(type='text/javascript', src='/js/validate.js')
		
block content
	div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main					
		#tabs
			ul
				li
					a(href="#tabs-1") Thông tin cơ bản
				li
					a(href="#tabs-2") Học phí
			#tabs-1
				div= error			
				#fields
					form#baby-form.form-horizontal( method="POST" role="form" novalidate)
						.row							
							div.form-group
								label.control-label.form-label-cust.col-sm-2(for="name") Họ tên bé :
								div.col-sm-3
									input#name.form-control(name="name", type="text", placeHolder="Họ tên bé", value= (baby ? baby.name :''), required, data-required-msg='Tên không để trống'  data-available data-available-url="validate/username" data-available-msg="The username #: data # is not available")		
							
								label.control-label.form-label-cust.col-sm-2(for="fname") Tên thân mật :
								div.col-sm-3
									input#fname.form-control(name="fname", type="text", placeHolder="Tên thân mật", value= (baby ? baby.fname :''))				
							div.form-group																										
								label.control-label.form-label-cust.col-sm-2(for="gender-input") Giới tính :						
								div.col-sm-3
									label.radio-inline
										input(name="gender", type="radio",  value= "1", checked=gender=="male") 
										| Nam										
									label.radio-inline
										input(name="gender", type="radio",  value= "0", checked=gender=="male")
										| Nữ								
								label.control-label.form-label-cust.col-sm-2(for="DOB") Ngày sinh :
								div.col-sm-3
									input#dob.datecontrol(data-date-format="dd/mm/yy" name="dob" value= (baby ? baby.dob : ''), required, data-required-msg='Ngày sinh không để trống'  data-available data-available-url="validate/dob" data-available-msg="The username #: data # is not available")		
							div.form-group
								label.control-label.form-label-cust.col-sm-2(for="address") Địa chỉ :
								div.col-sm-10
									input#address.form-control.input-lg(name="address", type="text", placeHolder="Địa chỉ", value=(baby ? baby.address :''))
							div.form-group
								label.control-label.form-label-cust.col-sm-2(for="branch") Cơ sở :
								div.col-sm-1
									select#branchId.selectpicker(name="branchId")
										for item in branches
											option(value="#{item['id']}") #{item["name"]}	
								label.control-label.form-label-cust.col-sm-2(for="class")	Lớp :
								div.col-sm-2
									select#classId.selectpicker(name="classId")
										for item in classes
											option(value="#{item['id']}") #{item["name"]}			
								label.form-label-cust.control-label.col-sm-2(for="priority") Đối tượng ưu tiên			
								div.col-sm-3
									select#priorityId.selectpicker(name="priorityId")
										for item in classes
											option(value="#{item['id']}") #{item["name"]}
																	
							div.form-group
								label.form-label-cust.control-label.col-sm-2(for="note_1") Ghi chú :
								div.col-sm-10
									textarea#note_1.form-control(name="note_1", placeHolder="Ghi chú", value= (baby ? baby.note_1 :''), rows="3")							
							hr
															
							div.form-group
								label.control-label.col-sm-2.form-label-cust(for="faname") Họ tên bố :
								div.col-sm-3
									input#faname.form-control(name="faname", type="text", placeHolder="Họ tên bố", value= (baby ? baby.faname :''))
								
								label.control-label.col-sm-2.form-label-cust(for="phone") Số điện thoại :
								div.col-sm-3
									input#phone.form-control(type="text" name="phone" placeHolder="Số điện thoại" value= (baby ? baby.phone :''), required, data-required-msg='Số điện thoại không để trống'  data-available data-available-url="validate/phone" data-available-msg="The  #: data # is not available")
							div.form-group
								label.control-label.col-sm-2.form-label-cust(for="mname") Họ tên mẹ :
								div.col-sm-3
									input#mname.form-control(name="mname", type="text", placeHolder="Họ tên mẹ", value= (baby ? baby.mname :''))
								label.control-label.col-sm-2.form-label-cust(for="fname") Số điện thoại mẹ :
								div.col-sm-3
									input#mphone.form-control(type="text" name="mphone" placeHolder="Số điện thoại mẹ" value= (baby ? baby.mphone :''))
							div.form-group
								label.control-label.col-sm-2.form-label-cust(for="email") Email liên lạc :
								div.col-sm-3
									input#email.form-control(name="email", type="text", placeHolder="Email", value=(baby ? baby.email :''))							
								label.control-label.form-label-cust.col-sm-2(for="note_2") Ghi chú :
								div.col-sm-5
									textarea#note_2.form-control(name="note_2", type="text", placeHolder="Ghi chú", value= (baby ? baby.note_2 :''),rows="3")						
							
																
						button.btn-info.btn-lg(type="submit") Lưu lại
						include messages 				
			#tabs-2
				div= error			
				#fields
					h3 Học phí tháng 12
					form#baby-form.form-horizontal(action="baby" method="POST" role="form" novalidate)
						.row							
							div.form-group
								label.control-label.form-label-cust.col-sm-2(for="eat_no") Số ngày ăn :
								div.col-sm-2
									input#eat_no.form-control(name="eat_no", type="text", placeHolder="Số ngày ăn", value= (baby ? baby.eat_no : 0))
								label.control-label.form-label-cust.col-sm-2(for="eat_fee") Tiền ăn / ngày: 
								div.col-sm-2
									input#eat_fee.form-control(name="eat_fee", type="text", placeHolder="Tiền ăn / ngày", value= (baby ? baby.eat_fee : 0))
								label.control-label.form-label-cust.col-sm-2(for="total_eat_fee") Tổng tiền ăn:
								div.col-sm-2
									input#total_eat_fee.form-control(name="total_eat_fee", type="text", placeHolder="Tổng tiền ăn ", (baby ? baby.total_eat_fee : 0))		

							div.form-group
								label.control-label.form-label-cust.col-sm-2(for="late_no") Số ngày trông muộn :
								div.col-sm-2
									input#late_no.form-control(name="late_no", type="text", placeHolder="Số ngày trông muộn", value= (baby ? baby.late_no : 0))
								label.control-label.form-label-cust.col-sm-2(for="late_fee") Tiền trông muộn / ngày: 
								div.col-sm-2
									input#late_fee.form-control(name="late_fee", type="text", placeHolder="Tiền trông muộn / ngày", value= (baby ? baby.late_fee : 0))
								label.control-label.form-label-cust.col-sm-2(for="total_late_fee") Tổng tiền trông muộn:
								div.col-sm-2
									input#total_late_fee.form-control(name="total_late_fee", type="text", placeHolder="Tổng trông muộn ", value= (baby ? baby.total_late_fee : 0))

							div.form-group
								label.control-label.form-label-cust.col-sm-2(for="wekeend_no") Số ngày học T7 :
								div.col-sm-2
									input#wekeend_no.form-control(name="wekeend_no", type="text", placeHolder="Số ngày học T7", value= (baby ? baby.wekeend_no : 0))
								label.control-label.form-label-cust.col-sm-2(for="wekeend_fee") Tiền trông T7 / ngày: 
								div.col-sm-2
									input#wekeend_fee.form-control(name="wekeend_fee", type="text", placeHolder="Tiền trông T7 / ngày", value=  (baby ? baby.wekeend_fee : 0))
								label.control-label.form-label-cust.col-sm-2(for="total_wekeend_fee") Tổng tiền trông T7:
								div.col-sm-2
									input#total_wekeend_fee.form-control(name="total_wekeend_fee", type="text", placeHolder="Tổng trông T7 ", value=  (baby ? baby.total_wekeend_fee : 0))

							div.form-group
								label.control-label.form-label-cust.col-sm-2.col-sm-offset-8(for="learn_fee")	Học phí	
								div.col-sm-2
									input#learn_fee.form-control(name="learn_fee", type="text", placeHolder="Học phí")
							hr.bigHr
							div.form-group
								label.control-label.form-label-cust.col-sm-2.col-sm-offset-8(for="total_fee") Tổng	phải đóng
								div.col-sm-2
									input#total_fee.form-control(name="total_fee", type="text", placeHolder="Tổng")


							
			