extends leftMenu
block head
	title='Danh sách nhân viên'
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="content-type", content="text/html; charset=UTF-8")
	link(rel='stylesheet', href='/css/bootstrap-3.3.7-dist/css/bootstrap.css')
	link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
	link(rel='stylesheet', href='/css/left-menu.css')
	link(rel='stylesheet', href='/css/style_custom.css')
	link(rel='stylesheet', href='/css/detail.css')
			
	script(type='text/javascript', src='/js/jquery.min.js')
	script(type='text/javascript', src='/js/bootstrap.js')		
	script(type='text/javascript', src='/js/jquery.dataTables.js')
	script(type='text/javascript', src='/js/navigate.js')

block content
	div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
		if(babies == null || babies.length == 0)
			p
				| Chưa có dữ liệu. Tạo thông tin về 
				a(href="/teacherInfo") Nhâ viên
				|.
		else
			table#baby-grid.table.table-hover.table-striped
				thead
					tr
						th Họ Tên
						th Tên Thân Mật
						th Số Điện Thoại Bố	
						th Số Điện Thoại Mẹ
						th Email						
						th Chi Nhánh
						th Lớp
						th Ghi chú
						th Actions	
						th 
				tbody
					each baby, index in babies
						tr(data-id="#{baby._id}")
							td= baby.name
							td= baby.fname
							td= baby.phone
							td= baby.mphone
							td= baby.email
							td= baby.class
							td= baby.branch
							td= baby.note_1
							td.action
								button.btn.btn-default(id="edit_#{baby._id}", type="button")
									span.glyphicon.glyphicon-pencil Sửa
							td.action
								button.btn.btn-danger(id="edit_#{baby._id}", type="button")
									span.glyphicon.glyphicon-remove Xóa
										

